# Initial Basics

In [57]:
print 'Hello World'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello World')? (729776420.py, line 1)

## Integer Variables

In [58]:
x = 1

In [59]:
y = 2

In [60]:
x = y

### Combining Variables: Predict z!!!  If wrong, why??

In [61]:
z = x + y
print(z)

4

# Change b to make z equals to 3

In [62]:
b = ??

SyntaxError: invalid syntax (1583645713.py, line 1)

In [63]:
a = 2

In [64]:
z = a + b
print(z)

NameError: name 'b' is not defined

## String Variables: Make test1 and test2 strings and combine them!

In [65]:
test1 = I am a string

SyntaxError: invalid syntax (1065565313.py, line 1)

In [66]:
test2 = and I am also a string

SyntaxError: invalid syntax (4290834224.py, line 1)

In [67]:
combined_string = (????)
print(combo)

SyntaxError: invalid syntax (2406412252.py, line 1)

# # Ints: Make integer_a and integer_b ints and combine them

In [68]:
integer_a = 5O

SyntaxError: invalid syntax (1170412015.py, line 1)

In [69]:
integer_b = '10'

In [70]:
combined_int = 
print(combined_true)

SyntaxError: invalid syntax (1127326546.py, line 1)

## Lists and Tuples

### Make a list with the numbers 9-14, and print it to console

In [71]:
lst =

SyntaxError: invalid syntax (232708904.py, line 1)

In [72]:
print()

### In 3 lines, print the numbers 10, 11, 12 to console

In [73]:
print()
print()
print()

### Append the number 15 to your list and print it out again

### Make a tuple with the numbers 10-15 and print it out

In [74]:
tpl =

SyntaxError: invalid syntax (1226878358.py, line 1)

In [75]:
print()

### print the number 13 from you tuple

In [76]:
print()

### Append the number 16 to your tuple... ;)

In [77]:
tpl.append()

NameError: name 'tpl' is not defined

# More Complex ideas

## Make a for Loop to print the numbers 1-25 to terminal

In [78]:
for :

SyntaxError: invalid syntax (2788557460.py, line 1)

## Make a for loop to store the values 1-5 in a new list you create called myList

In [79]:
myList = 
for :

SyntaxError: invalid syntax (969790212.py, line 1)

## CHALLENGE PROBLEM:  Use a nested for  loop to print the sum of each element in myList and the number 3-13. For example, the first pass through the loop should print 4,5,6,7,8,9,...14, the second pass should print 5,6,7,8,9...15

In [80]:
for :
    for:
        print()

SyntaxError: invalid syntax (197435571.py, line 1)

## If / else statements

In [81]:
fruit1 = 'apple'
fruit2 = 'pear'
car1 = 'honda'
car2 = 'toyota'
car3 = 'chevy'
chips = 'lays'
sandwich = 'ham'
side = 'potato salad'
drink = 'rum'
items = [fruit1, fruit2, car1, car2, car3, chips, sandwich, side, drink]

## Use if, elif, and else statements to sort all of the stuff in list Items into the relevant lists 'cars' and 'food'

In [82]:
cars = []
food = []
for item in items:

SyntaxError: unexpected EOF while parsing (2549095729.py, line 3)

In [83]:
print(cars)
print(food)

NameError: name 'cars' is not defined

## Set x equal to 20. Append x to list storage while x is greater than 5. Print storage after

In [84]:
x = 
storage = 
while :

SyntaxError: invalid syntax (669969259.py, line 1)

## Make and print a new list containing all of values from lst that are equal to 3 or 5 using list comprehension

In [85]:
lst = [0,1,2,3,4,5,6,7,8,9,10]
new_list = []
print(new_list)

[]