# Initial Basics

In [1]:
print ('Hello World')

Hello World

## Integer Variables

In [6]:
x = 1

In [7]:
y = 2

### Combining Variables

In [10]:
z = x + y
print(z)

3

## String Variables

In [1]:
test1 = 'I am a string'

In [2]:
test2 = 'and I am also a string'

In [3]:
integer_a = 5

In [4]:
integer_b = 10

In [5]:
combined_wrong = test + integer_a
print(combined_wrong)
#different types don't play nice!!

NameError: name 'test' is not defined

In [ ]:
combined_true = integer_a + integer_b
print(combined_true)

In [7]:
combo_string = (f'{test1} {test2}')
print(combo_string)

I am a string and I am also a string

## Lists and Tuples

### Lists (notice the SQUARE brackets)

In [4]:
lst = [1,2,3,4,5]

In [13]:
print(lst)

[1, 2, 3, 4, 5]
1
2
3

### Computers are 0 Indexed

In [ ]:
print(lst[0])
print(lst[1])
print(lst[2])

In [16]:
lst.append(6)

In [17]:
print(lst)

[1, 2, 3, 4, 5, 4, 6]

### Tuples (notice the PARENTHESES)

In [8]:
tpl = (1,2,3,4,5)

In [9]:
print(tpl)

(1, 2, 3, 4, 5)

In [10]:
print(tpl[0])

1

In [19]:
tpl.append(6)

AttributeError: 'tuple' object has no attribute 'append'

# More Complex ideas

## For Loops

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
print(lst)
for i in lst:
    print(i)

[1, 2, 3, 4, 5, 4, 6]
1
2
3
4
5
4
6

In [24]:
print(lst)
print(tpl)
for i in tpl:
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 4, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [25]:
print(lst)
print(tpl)
for i in lst:
    tpl.append(i)
print(lst)

[1, 2, 3, 4, 5, 4, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

AttributeError: 'tuple' object has no attribute 'append'

## If / else statements

In [17]:
fruit1 = 'apple'
fruit2 = 'pear'
car1 = 'honda'
car2 = 'toyota'
car3 = 'chevy'
chips = 'lays'
sandwich = 'ham'
side = 'potato salad'
drink = 'rum'
items = [fruit1, fruit2, car1, car2, car3, chips, sandwich, side, drink]

In [18]:
print(items)

['apple', 'pear', 'honda', 'toyota', 'chevy', 'lays', 'ham', 'potato salad', 'rum']

In [20]:
cars = []
food = []
for item in items:
    if item == 'apple':
        food.append(item)
    elif item == 'pear':
        food.append(item)
    elif item == 'lays':
        food.append(item)
    elif item == 'ham':
        food.append(item)
    elif item == 'rum':
        food.append(item)
    elif item =='potato salad':
        food.append(item)
    else:
        cars.append(item)

In [21]:
print(cars)
print(food)

['honda', 'toyota', 'chevy']
['apple', 'pear', 'lays', 'ham', 'potato salad', 'rum']

## While Loops

## List Comprehension (Slightly more complex!)

In [5]:
lst = [0,1,2,3,4,5,6,7,8,9,10]
print(lst)
new_list = [x for x in lst if x == 5 or x == 3]
print(new_list)

[3, 5]

In [3]:
x = 10
storage = []
while x >=2:
    print(x)
    x = x-1

10
9
8
7
6
5
4
3
2